.main {
    margin: 0 220px;
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .main {
        margin: 0 100px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 480px) {
    .main {
        margin: 0 30px;
        margin-top: 52px;
        margin-bottom: 80px;
    }
}