.cardImg {
    max-height: 100%;
    max-width: 100%;
    border-radius: 15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 25px;
    padding: 50px 50px;
    p {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .grid {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
}