.title_arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    border-radius: 5px;
    background-color: #FF6060;
    margin-top: 32px;
    padding: 10px 20px;
}

.textContainer {
    background-color: #FBFBFB;
    margin-top: -50px;
    opacity: 0;
    height: 25px;
    max-width: 70vw;
    padding: 10px;
}

.showText {
    animation: showText 0.4s forwards;
}

.hideText {
    animation: hideText 0.4s forwards;
}

.valueText {
    color: #000;
    margin: 0;
}

.value {
    margin: 0 220px;
}

.valueTitle {
    margin: 0;
}

.arrowContainer {
    display: flex;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.arrowDown, .arrowUp {
    height: 30px;
    width: 30px;
}

.arrowUp {
    animation: arrowDown 0.4s forwards;
}

.arrowDown {
    animation: arrowUp 0.4s forwards;
}

@keyframes arrowDown {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-180deg);
    }
}

@keyframes arrowUp {
    0% {
      transform: rotate(-180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes showText {
    0% {
        margin-top: -50px;
        opacity: 0;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
        max-width: 100%;
    }
}

@keyframes hideText {
    0% {
        margin-top: 0px;
        opacity: 1;
    }
    100% {
        margin-top: -50px;
        opacity: 0;
        max-width: 70vw;
    }
}

@media screen and (max-width: 768px) {
    .value {
        margin: 0 30px;
    }

    .valueText {
        height: 25px;
    }
}

@media screen and (max-width: 480px) {
    .textContainer {
        margin-bottom: 85px;
    }
}