// .value {
//     margin: 0 100px;
//     background-color: #FF6060;
// }

.title_arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    border-radius: 5px;
    background-color: #FF6060;
    margin-top: 32px;
    padding: 10px 20px;
}

.textContainer {
    // background-color: #FBFBFB;
    background-color: #bbbbbb;
    margin-top: -50px;
    opacity: 0;
}

.valueText {
    color: #000;
    margin: 0;
}

.value {
    margin: 0 220px;
}

.valueTitle {
    margin: 0;
}

.arrowContainer {
    display: flex;
    cursor: pointer;  
}

.arrowDown, .arrowUp {
    height: 30px;
    width: 30px;
}

.arrowUp {
    animation: arrowDown 0.5s forwards;
}

.arrowDown {
    animation: arrowUp 0.5s forwards;
}

@keyframes arrowDown {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-180deg);
    }
}

@keyframes arrowUp {
    0% {
      transform: rotate(-180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}