// .value {
//     margin: 0 100px;
//     background-color: #FF6060;
// }

.value {
    padding: 10px 20px;
    margin: 0 220px;
    margin-top: 32px;
    margin-bottom: 32px;
    border-radius: 5px;
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    background-color: #FF6060;
    display: flex;
    justify-content: space-between;
}

.valueTitle {
    margin: 0;
}